<!DOCTYPE html>
<html lang="en">

<body>

<div class="container">
  
  <table class="table">
<tr ng-repeat="bill in Billing ">
<td>{{bill.cust_id}} </td>
<td>{{bill.user_id}} </td>
<td>{{bill.status}} </td>
<td>{{bill.created_at}} </td>
<td>{{bill.updated_at}} </td>


</tr>
</body>
</table>
</div>





<head>
  <title>Billing </title>
  <h3> <center><i>Billing Details</i></center> </h3>

 
 <!--<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<style> 
.form-group {
    color: blue;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px; 
}




</style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
  <form role="form">
    <div class="form-group"> 
      <label for="fn">Customer Name :</label>
      <input type="text" class="form-control" id="fn"> 
    </div>
    <div class="form-group">
      <label for="mn">User Name :</label>
      <input type="text" class="form-control" id="mn"> 
    </div>

<div class="form-group">
      <label for="ln">Product Name :</label>
      <input type="text" class="form-control" id="ln">
    </div>


    <div class="form-group">
      <label for="cn">Price :</label>
      <input type="text" class="form-control" id="cn">
    </div>

    <div class="form-group">
      <label for="ad">Quantity :</label>
      <input type="text" class="form-control" id="ad">
    </div>




<div class="form-group">
<tr><label for="inputsm"><b>Created Date</b></label> </tr>
<tr><input type="date" id="myDate" value="2015-01-01"> </tr>
<tr>   </tr>


</div>
<p id="demo"></p>

<script>
function myFunction() {
    var x = document.getElementById("myDate").value;
    document.getElementById("demo").innerHTML = x;
}
</script>
      <br>
      



    </div>
  </form>
</div>



  </form>
</div>

</body>
</html>
