<!--<script type="text/javascript" ng:autobind src="http://code.angularjs.org/0.10.5/angular-0.10.5.js"></script> -->

<body>

<div class="container">
  
  <table class="table">
  <tr ng-repeat="emp in employees ">
   
    <body>
    

        <td><i><b>{{emp.username}}</b></i></td>
        <td>{{emp.fname}}</td>
        <td>{{emp.mname}}</td>
        <td>{{emp.lname}}</td>
        <td>{{emp.mobile}} </td>
        <td>{{emp.authority}} </td>
        <td>{{emp.email}} </td>
        <td>{{emp.address}} </td>
        <td>{{emp.status}} </td>
        <td>{{emp.created_at}} </td>
        <td>{{emp.updated_at}} </td>



     
      
    </body>
    </tr>
  </table>
</div>

</body>



<head>
  <title>Employee </title>
  <h3> <center><i>Employee Details</i></center> </h3>

 <!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

<style> 
.form-group {
    color: blue;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px; 
}




</style>
</head>
<body>
<div class="container">
  <div class="jumbotron">
  <form role="form">
    <div class="form-group"> 
      <label for="fn">First Name :</label>
      <input type="text" class="form-control" id="fn">
    </div>
    <div class="form-group">
      <label for="mn">Middle Name :</label>
      <input type="text" class="form-control" id="mn">
    </div>

<div class="form-group">
      <label for="ln">Last Name :</label>
      <input type="text" class="form-control" id="ln">
    </div>


    <div class="form-group">
      <label for="cn">Contact Number :</label>
      <input type="text" class="form-control" id="cn">
    </div>

    <div class="form-group">
      <label for="ad">Address :</label>
      <input type="text" class="form-control" id="ad">
    </div>


    <div class="form-group">
        <label for="ad">Email :</label>
       <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
        <span class="input-group-addon" id="basic-addon1">@gmail.com</span>
    </div>

<n menus (select lists):</p>

  <form role="form">
    <div class="form-group">
      <label for="sel1">Authority: </label>
      <select class="form-control" id="sel1">
        <option>Admin</option>
        <option>Sub Admin</option>
        
      </select>
      <br>
      <div>
<tr><label for="inputsm"><b>Product Expiry Date</b></label> </tr>
<tr><input type="date" id="myDate" value="2015-01-01"> </tr>
<tr>   </tr>


</div>
<p id="demo"></p>

<script>
function myFunction() {
    var x = document.getElementById("myDate").value;
    document.getElementById("demo").innerHTML = x;
}
</script>



    </div>
  </form>
</div>


  </form>
</div>

</body>
</html>
