<html>

<body>
<div class="container">
<div class="container" style="width:80%;float:left;border:1px #ccc solid">
  
  <ul class="nav nav-tabs">
    <!-- <li class="active"><a data-toggle="tab" href="#home"></a></li> -->
    <li><a data-toggle="tab" href=""  ng-click="loadTabView('Employee');"><i> <b>Employee </b></i> </a></li>
    <li><a data-toggle="tab" href="" ng-click="loadTabView('productDetails');"><i> <b>Production </b></i> </a></li>
    <li><a data-toggle="tab" href="" ng-click="loadTabView('Billing');"><i> <b>Billing </b></i> </a></li>
    
 
  </ul>
  </div>
<div class="container" style="float:right;width:19%" ng-controller="logoutCtrl">
  <button type="button" ng-click="logout()" class="btn btn-info" data-toggle="collapse" data-target="#demo" >logout</button>
</div>
</div>

Welcome {{user}}

   <div ui-view>
	
	</div>
      
  
</body>
 </div>

</html>


