{{user}}
<div class="container">
  <div class="jumbotron">
    <h1>Medical Store Login</h1>      
  </div>
        
</div>

<body>

<div class="container">
  
  <form role="form">
    <div class="form-group">
      <label for="usr">UserName:</label>
      <input type="text" class="form-control" ng-model="user.username" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" ng-model="user.password" id="pwd">
    </div>
  </form>
</div>


<div class="container" ng-click="test();">
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" >Login</button>
</div>
   
{{message}}
