
<body>

<div class="container">
  
  <table class="table">
<tr ng-repeat="p in productDetails ">
<td><i><b>{{p.name}}</b></i></td>
<td>{{p.quantity}}</td>
<td>{{p.rate}}</td>
<td>{{p.productexp_date}}</td>
<td>{{p.status}}</td>
<td>{{p.created_at}}</td>
<td>{{p.updated_at}}</td>

</tr>
</table>
</div>
</body>






















<head>
  <title>ProductDetails</title>
  <!--
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

  <center><h3><i> Product Details </i></h3></center>
</head>

<body>

<div class="container">
  <div class="jumbotron">
  <center>
  <div class="container">
  <div class="jumbotron">
    		<!--<table border=1 width="2" >  -->   
          	<td>
  <form role="form">
    <div class="form-group">
      <tr><label for="inputdefault"><b> Product Name </b></label></tr>
      <tr><input class="form-control" id="inputdefault" type="text"></tr>
      <tr>   </tr>
    </div>
    </form>
    </td>

   <br>
    <br>
    <td>
    <div class="form-group">

     <tr> <label for="inputlg"><b>Product Quantity</b></label></tr>
      <tr><input class="form-control input-lg" id="inputlg" type="text"></tr>
     <tr>   </tr>
    </div>

    <br>
    <br>
    <td>
    <div class="form-group"> </div> </td>

      <tr><label for="inputsm"><b>Product Price</b></label></tr>
      <tr><input class="form-control input-sm" id="inputsm" type="text"></tr>
      <tr>   </tr>
</div>
<div>
<tr><label for="inputsm"><b>Product Expiry Date</b></label> </tr>
<tr><input type="date" id="myDate" value="2015-01-01"> </tr>
<tr>   </tr>


</div>
<p id="demo"></p>

<script>
function myFunction() {
    var x = document.getElementById("myDate").value;
    document.getElementById("demo").innerHTML = x;
}
</script>
<!--</table> -->



<body>

<div class="container">
 <button type="button" class="btn btn-primary"><b> Submit </b></button>
  </div>

</body>
</html>

















</div>
</div>









</body>
</html>
























    </div>
    
    
  </form>
</div>

          </center>
  </div> 
</div>



</body>
</html>